<form [formGroup] = 'registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <!-- <div class="mb-3">
        <input 
        [class.is-invalid] = 'registerForm.get("username")?.errors 
        && registerForm.get("username")?.touched'
        type="text" 
        formControlName='username' 
        class="form-control" 
        placeholder="Username">
        <div class="invalid-feedback">Please enter a username</div>
    </div>

    <div class="mb-3">
        <input 
        [class.is-invalid] = 'registerForm.get("username")?.errors 
        && registerForm.get("username")?.touched'
        type="password" 
        formControlName='password' 
        class="form-control" 
        placeholder="Password">
        <div *ngIf="registerForm.get('password')?.hasError('required')"
        class="invalid-feedback">Please enter a password</div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength')"
        class="invalid-feedback">Password must be at least 4 characters</div>
        <div *ngIf="registerForm.get('password')?.hasError('maxlength')"
        class="invalid-feedback">Password must be at most 8 characters</div>
    </div>
    <div class="mb-3">
        <input 
        [class.is-invalid] = 'registerForm.get("confirmPassword")?.errors 
        && registerForm.get("confirmPassword")?.touched'
        type="password" 
        formControlName='confirmPassword' 
        class="form-control" 
        placeholder="Confirm Password">
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
        class="invalid-feedback">Please enter a confirm password</div>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')"
        class="invalid-feedback">Confirm password must match password</div>
    </div> -->
    
    <div class="form-group">
        <label for="" style="margin-right: 10px;" class="control-label">I am a: </label>
        <label for="" class="ratio-inline">
            <input type="radio" value="male" formControlName='gender'> Male
        </label>
        <label for="" class="ratio-inline">
            <input type="radio" value="female" formControlName='gender' class="ms-3"> Female
        </label>
    </div>
    <app-text-input [formControl] ='registerForm.controls["username"]' [label]='"Username"'></app-text-input>
    <app-text-input [formControl] ='registerForm.controls["knownAs"]' [label]='"Known As"'></app-text-input>
    <app-data-input [formControl] ='registerForm.controls["dateOfBirth"]' [maxDate]='maxDate' [label]='"Date Of Birth"'></app-data-input>
    <app-text-input [formControl] ='registerForm.controls["city"]' [label]='"City"'></app-text-input>
    <app-text-input [formControl] ='registerForm.controls["country"]' [label]='"Country"'></app-text-input>
    <app-text-input [formControl] ='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
    <app-text-input [formControl] ='registerForm.controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>

    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>

    <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-light me-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>

<!-- <p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p> -->